.duomenu-perziurejimas-main table {
  font-size: 1.5rem;
  border-spacing: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.table-head tr {
  border-bottom: 3px solid #34495e;
}

.table-darbuotojai td,
.table-orouostai td,
.table-pilotai td,
.table-keleiviai td,
.table-lektuvai td,
.table-skrydziai td,
.table-bilietai td {
  text-align: center;
  width: fit-content;
  padding: 1rem;
}

.table-darbuotojai-data tr:nth-child(odd),
.table-orouostai-data tr:nth-child(odd),
.table-pilotai-data tr:nth-child(odd),
.table-keleiviai-data tr:nth-child(odd),
.table-lektuvai-data tr:nth-child(odd),
.table-skrydziai-data tr:nth-child(odd),
.table-bilietai-data tr:nth-child(odd) {
  background-color: #34495e;
  color: #f5f5f5;
}

.trash-icon {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.table-darbuotojai .trash-icon:nth-child(even) {
  stroke: black;
}

.delete-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #405972;
}

.perziureti-box {
  display: flex;
  align-items: center;
}

.perziureti-forma {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paieska-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.paieskos-input-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.paieskos-input-box input {
  font-size: 2rem;
}

.paieskos-input-box label {
  font-size: 1.6rem;
  position: absolute;
  top: -2rem;
}
